/*------------------------------------
* sext
*
* @author Dennis Liu
* @link liudennis.com
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Merriweather Sans);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body
{
    font-size:18px;
    font-family:"Merriweather Sans","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    color:#000000;
    background-color:#f1f3ec;
}
*
{
    padding:0;
    margin: 0;
    border:none;
    outline:none;
}
a
{
    color:#323031;
    text-decoration:none;
}
a:hover
{
    color:#c8d0d3;
    text-decoration:underline;
}
hr
{
    margin:1em 0;
    border-top:1px 
    dashed #848a91;
    border-bottom:1px 
    dashed #848a91;
}
p
{
    padding:.5em 0;
}
li
{
    padding:.2em 0;
}
ol,ul
{
    list-style-position:inside;
}
ol ul, ul ol, ul ul, ol ol 
{
    margin-left:1em;
}
pre code
{
    margin:1em 0;
    font-size:15px;
    line-height:1.6;
    display:block;
    overflow:auto;
}
blockquote
{
    display:block;
    text-align:justify;
    border-left:4px solid #c8d0d3;
}
blockquote
{
    margin:1em 0em;
    padding-left:1.5em;
}
blockquote p
{
    margin:0;
    padding:.5em 0;
}
#container
{
    width:600px;
    margin:2em auto;
    display:block;
    padding:0 2em;
}
.content
{
    font-size:16px;
    line-height:24px;
}
.content h1
{
    padding:.5em 0;
}
.content img
{
    max-width:600px;
    display:block;
    margin:4px auto;
    -webkit-box-shadow:#999 1px 1px 4px;
    -moz-box-shadow:#999 1px 1px 4px;
    box-shadow:#999 1px 1px 4px;
}
.listing-item,.listing-seperator
{list-style-type:none;}
.listing-item a
{padding:.2em 1em;}
.listing-item time
{color:#999999;}
.listing-seperator
{font-weight:bold;}
.meta
{
    text-align:right;
    font-size:14px;
}
header
{
    padding:.5em 0;
    border-bottom: 1px solid #323031;
    font-size: 30px
}
nav
{
    font-family:"Electrolize",Microsoft Yahei,sans-serif;
    text-transform:uppercase;
    margin-left:-12em;
    margin-right:-12em;
    width:10em;
    text-align:center;
}
nav a
{
    display:block;
    padding:.7em 1em;
    color:#323031;
    font-weight: 900;
}
nav a:hover
{
    background-color:#c8d0d3;
    text-decoration:none;
    color:#323031;
    -webkit-transition:color .2s linear;
}
.post
{padding:.5em 0em;}
h1
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:30px;
    color:#000;
}
h2
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:15px;
    color:#222;
}
h3
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:13px;
    color:#444;
}
h4
{
    font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size:11px;
    color:#888;
}
pre,code
{
    font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;
    font-size:14px;
}
code
{background-color:#848a91;}
embed,object,iframe
{
    display:block;
    margin:4px auto;
}
.gist
{
    font-size: 14px;
    line-height:1.6;
}
footer {
    margin-top:1em;
    background:#1f1f1f;
    padding:0 2% .5em
}

#footer {
    width:95%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    font-size=11px
}

#footer .line {
    width:100%;
    height:14em;
    margin:0 auto
}

@media only screen and (min-width: 768px) {
#footer .line {
    width:10em;
    float:left;
    position:relative
}
}

#footer .line span {
    display:block;
    width:.5em;
    height:6.25em;
    border-right:.125em solid #fff;
    margin:0 auto
}

@media only screen and (min-width: 768px) {
#footer .line span {
    position:absolute;
    left:3em;
    margin:0 0 1.5em
}
}

.author {
    width:6.875em;
    height:6.875em;
    margin:0 auto;
    background:no-repeat url(/img/author.jpg) left top;
    -webkit-background-size:6.875em 6.875em;
    -moz-background-size:6.875em 6.875em;
    background-size:6.875em 6.875em;
    -webkit-border-radius:3.4375em;
    border-radius:3.4375em;
    -webkit-transition:-webkit-transform 2s ease-out;
    -moz-transition:-moz-transform 2s ease-out;
    -o-transition:-o-transform 2s ease-out;
    -ms-transition:-ms-transform 2s ease-out;
    transition:transform 2s ease-out
}

.author:hover {
    -webkit-transform:rotateZ(360deg);
    -moz-transform:rotateZ(360deg);
    -o-transform:rotateZ(360deg);
    -ms-transform:rotateZ(360deg);
    transform:rotateZ(360deg)
}

@media only screen and (min-width: 768px) {
.author {
    position:absolute;
    top:6em;
    margin:0 0 1.5em
}
}

.info {
    font-family:"covered_by_your_graceregular";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:150%;
    line-height:1.3em;
    width:90%;
    margin:0 auto;
    color:#fff
}

@media only screen and (min-width: 768px) {
.info {
    margin:4.5em 0 2em;
    float:left;
    width:75%
}
}

.social-font {
    width:100%;
    margin:0 auto;
    float:left;
    padding-left:3%
}

@media only screen and (min-width: 568px) {
.social-font {
    padding-left:20%
}
}

@media only screen and (min-width: 768px) {
.social-font {
    width:15em;
    position:absolute;
    right:-2em;
    top:3em
}
}

.social-font a {
    float:left;
    display:block;
    width:14%;
    color:#fff;
    font-size:185%;
    padding:.5em
}

@media only screen and (min-width: 1024px) {
.social-font a {
    padding:.3em
}
}

.social-font a:hover:before {
    color:#2ca6cb
}

.icon-weibo:before,.icon-github:before,.icon-twitter:before,.icon-facebook:before,.icon-stack-overflow:before,.icon-email:before,.icon-google_plus:before,.icon-linkedin:before {
    font-family:"FontAwesome";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.icon-weibo:before {
    content:"\f18a"
}

.icon-github:before {
    content:"\f09b"
}

.icon-twitter:before {
    content:"\f099"
}

.icon-facebook:before {
    content:"\f09a"
}

.icon-stack-overflow:before {
    content:"\f16c"
}

.icon-email:before {
    content:"\f003"
}

.icon-google_plus:before {
    content:"\f0d5"
}

.icon-linkedin:before {
    content:"\f08c"
}

.icon-douban:before {
    font-family:"fontdiao";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f111"
}

.icon-zhihu:before {
    font-family:"fontdiao";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\f142"
}

.copyright {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:"covered_by_your_graceregular";
    width:100%;
    color:#fff;
    text-align:center
}

@media only screen and (min-width: 768px) {
.copyright {
    float:left
}
}

.copyright a {
    color:#2ca6cb
}

.copyright a:hover {
    color:#2ca6cb;
    text-decoration:underline
}
.clearfix {
    zoom:1
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table
}

.clearfix:after {
    clear:both
}
